<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />


<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="twitter:dnt" content="on">
  <title>Scholarships &amp; Awards | Re-entry Student Program</title>
  <link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_kShW4RPmRstZ3SpIC-ZvVGNFVAi0WEMuCnI0ZkYIaFw.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_TnnMw6Mh72mEvaDujXjSbFOpptbdTbtXwXrVO5d8QpM.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_VTJqEpJ_kbGhyWnq6E__HtNmim_pFNj_xmqT2CnuFyk.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_i9DowixU-nnFkxpoq0thrDZ2qpXLjGA7qp7H6ElMpdY.css" media="screen" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_VTEUING0dHqaS1BFeejQr9LyZ-BfPyCLAc85Saf6sxA.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_OFWfWwE9w6r-mHMqfD2-FQq9YY7Ooz_5cHDGm3San-I.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_uIlBc1gj3hP4WBQpnsFtYEqPSonQWb_L6Tc2ez9z6OE.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_81EreKB4Ffrx5o-vUNZjj3ZYWD1OdbxZpAw5iIonfBQ.css" media="print" />
<link type="text/css" rel="stylesheet" href="https://reentry.berkeley.edu/sites/default/files/css/css_7a4eMJPMtJAdI_494tGuSKyxQKLfPfj5gajuj6CT4xI.css" media="all" />
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" media="all" />
<link type="text/css" rel="stylesheet" href="//use.typekit.net/aeg3kye.css" media="all" />
  <script type="application/json" data-drupal-selector="drupal-settings-json">{"basePath":"\/","pathPrefix":"","setHasJsCookie":0,"ajaxPageState":{"theme":"openberkeley_theme_brand","theme_token":"m8elExISR4bRQ4HyAg7kMQ1eTMHJEyr0fyoqttwcBYQ","js":{"profiles\/openberkeley\/modules\/panopoly\/panopoly_widgets\/panopoly-widgets.js":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_widgets\/panopoly-widgets-spotlight.js":1,"profiles\/openberkeley\/themes\/openberkeley_theme_base\/assets\/js\/bootstrap-accessibility.js":1,"profiles\/openberkeley\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery-extend-3.4.0.js":1,"misc\/jquery-html-prefilter-3.5.0-backport.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"misc\/drupal-settings-loader.js":1,"profiles\/openberkeley\/libraries\/bootstrap\/js\/bootstrap.min.js":1,"profiles\/openberkeley\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.core.min.js":1,"profiles\/openberkeley\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.widget.min.js":1,"profiles\/openberkeley\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.tabs.min.js":1,"profiles\/openberkeley\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.accordion.min.js":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_images\/panopoly-images.js":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_faq\/openberkeley_faq.js":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_theme\/openberkeley_theme.js":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_twitter\/js\/openberkeley-twitter.js":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_wysiwyg_override\/js\/openberkeley-wysiwyg-override.js":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_magic\/panopoly-magic.js":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_theme\/js\/panopoly-accordion.js":1,"profiles\/openberkeley\/modules\/contrib\/caption_filter\/js\/caption-filter.js":1,"profiles\/openberkeley\/libraries\/maphilight\/jquery.maphilight.min.js":1,"profiles\/openberkeley\/libraries\/jquery.imagesloaded\/jquery.imagesloaded.min.js":1,"profiles\/openberkeley\/modules\/contrib\/google_analytics\/googleanalytics.js":1,"https:\/\/www.googletagmanager.com\/gtag\/js?id=UA-204785998-1":1,"public:\/\/js\/google-analytics-5850065a497641972be895057dd870b4.js":1,"profiles\/openberkeley\/modules\/contrib\/extlink\/js\/extlink.js":1,"profiles\/openberkeley\/modules\/contrib\/hide_submit\/js\/hide_submit.js":1,"profiles\/openberkeley\/themes\/radix\/assets\/js\/radix.script.js":1,"profiles\/openberkeley\/themes\/openberkeley_theme_base\/assets\/js\/openberkeley_theme_base.script.js":1,"profiles\/openberkeley\/themes\/openberkeley_theme_base\/assets\/js\/drupal-announce.js":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/js\/openberkeley_theme_brand.script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.accordion.css":1,"modules\/field\/theme\/field.css":1,"profiles\/openberkeley\/modules\/contrib\/mvpcreator_theme\/css\/mvpcreator-theme.css":1,"modules\/node\/node.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_brand_widgets\/css\/openberkeley-widgets-hero.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_brand_widgets\/css\/openberkeley-widgets-image.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_brand_widgets\/css\/openberkeley-widgets-modal.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_brand_widgets\/css\/openberkeley-widgets-promo.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_brand_widgets\/css\/openberkeley-widgets-thumbnail-list.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_faq\/openberkeley_faq.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_news\/openberkeley_news.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_theme\/openberkeley-theme.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_search\/openberkeley_top_results\/openberkeley_top_results.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_wysiwyg_override\/css\/openberkeley-wysiwyg-override-list-properties.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_core\/css\/panopoly-dropbutton.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_magic\/css\/panopoly-magic.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_theme\/css\/panopoly-featured.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_theme\/css\/panopoly-accordian.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_theme\/css\/panopoly-layouts.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_widgets\/panopoly-widgets.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_widgets\/panopoly-widgets-spotlight.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_wysiwyg\/panopoly-wysiwyg.css":1,"profiles\/openberkeley\/modules\/contrib\/radix_layouts\/radix_layouts.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"profiles\/openberkeley\/modules\/contrib\/extlink\/css\/extlink.css":1,"profiles\/openberkeley\/modules\/contrib\/views\/css\/views.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_widgets\/openberkeley_widgets.css":1,"profiles\/openberkeley\/modules\/contrib\/caption_filter\/caption-filter.css":1,"profiles\/openberkeley\/modules\/contrib\/ctools\/css\/ctools.css":1,"profiles\/openberkeley\/modules\/contrib\/panels\/css\/panels.css":1,"profiles\/openberkeley\/modules\/contrib\/hide_submit\/css\/hide_submit.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/bootstrap-custom.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_base\/assets\/css\/bootstrap-accessibility.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_base\/assets\/css\/openberkeley_theme_base.style.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/openberkeley_theme_brand.style.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_event.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_event_reg.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_news.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_portfolio.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_privatepages.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_pubs.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_people.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_search.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/brand_openberkeley_faq.css":1,"profiles\/openberkeley\/themes\/openberkeley_theme_brand\/assets\/css\/print.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_theme\/openberkeley-theme-collapsible.css":1,"profiles\/openberkeley\/modules\/openberkeley\/openberkeley_wysiwyg_override\/css\/openberkeley-wysiwyg-override.css":1,"profiles\/openberkeley\/modules\/panopoly\/panopoly_images\/panopoly-images.css":1,"\/\/fonts.googleapis.com\/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800":1,"\/\/use.typekit.net\/aeg3kye.css":1}},"CToolsModal":{"modalSize":{"type":"scale","width":".9","height":".9","addWidth":0,"addHeight":0,"contentRight":25,"contentBottom":75},"modalOptions":{"opacity":".55","background-color":"#FFF"},"animationSpeed":"fast","modalTheme":"CToolsModalDialog","throbberTheme":"CToolsModalThrobber"},"panopoly_magic":{"pane_add_preview_mode":"single"},"googleanalytics":{"account":["UA-204785998-1","G-FB1430MS02"],"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"},"hide_submit":{"search-form":{"hide_submit_status":true,"hide_submit_method":"disable","hide_submit_css":"hide-submit-disable","hide_submit_abtext":"","hide_submit_atext":"","hide_submit_hide_css":"hide-submit-processing","hide_submit_hide_text":"Processing...","hide_submit_indicator_style":"expand-right","hide_submit_spinner_color":"#000","hide_submit_spinner_lines":12,"hide_submit_hide_fx":0,"hide_submit_reset_time":5000},"search-form--2":{"hide_submit_status":true,"hide_submit_method":"disable","hide_submit_css":"hide-submit-disable","hide_submit_abtext":"","hide_submit_atext":"","hide_submit_hide_css":"hide-submit-processing","hide_submit_hide_text":"Processing...","hide_submit_indicator_style":"expand-right","hide_submit_spinner_color":"#000","hide_submit_spinner_lines":12,"hide_submit_hide_fx":0,"hide_submit_reset_time":5000}},"urlIsAjaxTrusted":{"\/search\/node":true},"extlink":{"extTarget":0,"extClass":"ext","extLabel":"(link is external)","extImgClass":0,"extIconPlacement":"append","extSubdomains":0,"extExclude":"(reentry\\.berkeley\\.edu)","extInclude":"","extCssExclude":"map","extCssExplicit":"","extAlert":0,"extAlertText":"This link will take you to an external web site. We are not responsible for their content.","mailtoClass":"mailto","mailtoLabel":"(link sends e-mail)","extUseFontAwesome":false},"openberkeley_theme_base":{"disable_linearizable_tables":false,"file_link_icons":1}}</script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_SJgtMdhzo0raDjyuHJR-mtSH_mzSDwMhzOyHsnAskDQ.js"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_CplP3uaSe7aRXQ9aiBD3b56wkeieD2nerD94Kv9mV3k.js"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_875emxRfOccM-XySeeBQPChdos8jppd3WPaR50YTgb0.js"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_tpGmDN0gXjEMbchGceOiGuNJyA-XxlIUjky_wNdgJMA.js"></script>
<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-204785998-1"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_0OSj6wuBWIOKE03vhEjvPJEEGEKfTWWlmiuwOJj3Ye8.js"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_dLmXSnakSlQtnZLfaN1SzmwinPEDYG7s4CVD6dWEOCk.js"></script>
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-18 node-type-openberkeley-content-page region-content panel-layout-stinson panel-region-header panel-region-middle1 panel-region-middle2 panel-region-middle3 no-slogan site-name-normal site-name-option-two" >
  <div id="skip-link" role="navigation" aria-label="Skip links">
    <a href="#main" class="element-invisible element-focusable">Skip to main content</a>
  </div>
<header id="header" class="header">

</header>

  <div id="main" role="main" tabIndex="-1">
    <div id="title-pre-content" class="container">
      <div class="row">
        <div class="col-md-12">
                  <div class="page-title">
            <div class="container">
              <h1 class="title">Scholarships &amp; Awards</h1>
            </div>
          </div>
                  <div id="page-header">
                                        </div>
        </div>
      </div>
    </div> <!-- /#title-pre-content -->
        <div id="main-content" class="container">
          <div id="content" class="col-md-9 col-md-push-3">
        <div class="main">
          <div id="main-inner">
              <div class="region region-content">
    
<div class="panel-display clearfix stinson" id="page-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 stinson-container stinson-header clearfix panel-panel">
        <div class="stinson-container-inner stinson-header-inner panel-panel-inner">
          <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-58f40a9d-68e6-4114-a2ff-f7e74f49acd0 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><h2>Scholarship Opportunities for Re-entry Students</h2></div></div></div></div>
  </div>

  
  </div>
<div class="panel-pane pane-node-content"  >
  
      
  
  <div class="pane-content">
    <article class="node node-openberkeley-content-page node-view--full clearfix">

  
      
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>The Re-entry Student Program offers two scholarships: <strong>Crankstart</strong> for newly admitted students, and <strong>Osher</strong> for continuing students.  Applications for these scholarships are open during each Fall term and typically have deadlines around the end of September/early October.</p>

<p><strong>Fall 2022 Deadline for Crankstart &amp; Osher Scholarships: October 7, 2022 by 11:59 pm.</strong></p></div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-6ccf2172-cd62-4adb-92bf-1734f6b5f1c4 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><hr>

<h3>Crankstart Re-entry Scholarship</h3></div></div></div></div>
  </div>

  
  </div>
        </div>
      </div>
    </div>

    <div class="row stinson-container stinson-column-content stinson-column-content-row1 clearfix">
      <div class="col-sm-6 stinson-column-content-region stinson-column stinson-column1 panel-panel">
        <div class="stinson-column-content-region-inner stinson-column-inner stinson-column1-inner panel-panel-inner">
                  </div>
      </div>
      <div class="col-sm-6 stinson-column-content-region stinson-column stinson-column2 panel-panel">
        <div class="stinson-column-content-region-inner stinson-column-inner stinson-column2-inner panel-panel-inner">
                  </div>
      </div>
    </div>

    <div class="row stinson-container stinson-second-column-content stinson-column-content-row2 clearfix">
      <div class="col-sm-12 stinson-second-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-second-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
          <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-c4c7bfb3-520e-45c2-9bd5-2f19223e9083 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><span>The Crankstart Re-entry Scholarship provides up to $5,000 awards to ten first-semester (if you began taking courses during summer, you may still apply) undergraduate re-entry students who demonstrate the potential and capacity to positively contribute to society beyond Berkeley.</span></p></div></div></div></div>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-6015ce95-32d7-436e-90fd-927c5642f6ba openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>Applicants must meet the following criteria:</p>
<ul>
<li>UC Berkeley re-entry Students having experienced a cumulative gap in their education of five or more years</li>
<li>Undergraduates pursuing their first baccalaureate degrees</li>
<li>Anticipate workforce participation for a significant period of time subsequent to graduation</li>
<li>All applicants must have filed a FAFSA and be eligible to receive federal aid, Dream aid included</li>
<li>Hold a minimum cumulative grade point average of 3.0 from all colleges attended</li>
</ul>
<hr>

<p>Your application must include: </p>
<ol>
<li>A personal essay of no more than 3 pages (single or double-spaced accepted) describing what it means to be a re-entry student, highlighting your personal achievements through your work, school, family or community service in spite of obstacles and explain how your leadership and perseverance made a difference. Please address the interruption to your college academics and your plans for employment upon completion of all your schooling as part of the essay. At the top of each page of your essay, print your full legal name.</li>
<li>Copies of transcripts from all colleges attended (unofficial accepted)</li>
<li>No more than 2 letters of recommendation* (can be from, for example, a former instructor, supervisor or mentor who can speak to your ability to apply your Berkeley education to future contributions to society)</li>
</ol></div></div></div></div>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-188ed5fb-8e13-4cbf-b64b-b368c288cae2 openberkeley-theme-subtle-header-style pane-bundle-openberkeley-widgets-promo clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="openberkeley-widgets-promo fieldable-panels-pane openberkeley-widgets-color-scheme-web-medalist">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_LvWvao0BBYmTwWMgqtcBgt3b6zavP9ZDVbva9PtYjqKWVg/viewform?usp=sf_link" class="openberkeley-widgets-image-link">
    <div class="openberkeley-widgets-label">
    <div class="openberkeley-widgets-label-inner">
      <h3>Apply for the Crankstart Re-entry Scholarship here!</h3>
          </div>
  </div>
    </a>
  </div>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-0be5aec7-bb61-435a-840d-c1a4a8f7de32 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><hr>

<h3>Osher Re-entry Scholarship</h3></div></div></div></div>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-8e7806e3-f259-4a8e-a67d-0b716b25315f openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><span>The Osher Re-entry Scholarship Program awards several continuing (completed at least one semester at Berkeley) undergraduate re-entry students who demonstrate the potential and capacity to positively contribute to society beyond Berkeley with awards up to $5,000 for the academic year.</span></p>

</div></div></div></div>
  </div>

  
  </div>
        </div>
      </div>
    </div>

    <div class="row stinson-container stinson-second-column-content stinson-column-content-row2 clearfix">
      <div class="col-sm-6 stinson-second-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-second-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
                  </div>
      </div>
      <div class="col-sm-6 stinson-second-column-content-region stinson-column stinson-second-column2 panel-panel">
        <div class="stinson-second-column-content-region-inner stinson-column-inner stinson-second-column2-inner panel-panel-inner">
                  </div>
      </div>
    </div>

    <div class="row stinson-container stinson-third-column-content stinson-column-content-row3 clearfix">
      <div class="col-sm-12 stinson-third-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-third-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
          <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-cd49c96b-1dd2-467f-8dd1-ac49b0dce5d9 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p> Applicants must meet the following criteria:</p>
<ul>
<li>M<span>ust be an undergraduate re-entry student at UC Berkeley who has experienced a considerable gap in the pursuit of her or his education and who can look forward to significant years of workforce participation</span></li>
<li>M<span>ust have completed at least one regular term (fall or spring) at UC Berkeley</span></li>
<li>M<span>ust have a minimum cumulative grade point average of 3.0 from all colleges attended</span></li>
<li>A<span>ll applicants must have completed a FAFSA and be eligible to receive financial aid, Dream aid included</span></li>
</ul>
<hr>

<p><span>Your application must include: </span></p>
<ol>
<li>A personal essay of no more than 3 pages (single or double-spaced accepted) describing what it means to be a re-entry student, highlighting your personal achievements through your work, school, family or community service in spite of obstacles and explain how your leadership and perseverance made a difference. Please address the interruption to your college academics and your plans for employment upon completion of all your schooling as part of the essay. At the top of each page of your essay, print your full legal name.</li>
<li>Copies of transcripts from all colleges attended (unofficial accepted)</li>
<li>No more than 2 letters of recommendation* (can be from, for example, a former instructor, supervisor or mentor who can speak to your ability to apply your Berkeley education to future contributions to society)</li>
</ol></div></div></div></div>
  </div>

  
  </div>
<div class="panel-pane pane-fieldable-panels-pane pane-vuuid-6d3f3512-094d-4f9d-8dc3-8853669667f0 openberkeley-theme-subtle-header-style pane-bundle-openberkeley-widgets-promo clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="openberkeley-widgets-promo fieldable-panels-pane openberkeley-widgets-color-scheme-web-soybean">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7cIvvPNFeG-Fe7sE-aOaL4fieL74PjBGAVFPDHL-ddfeTaA/viewform?usp=sf_link" class="openberkeley-widgets-image-link">
    <div class="openberkeley-widgets-label">
    <div class="openberkeley-widgets-label-inner">
      <h3>Apply for the Osher Re-entry Scholarship here!</h3>
          </div>
  </div>
    </a>
  </div>
  </div>

  
  </div>
        </div>
      </div>
    </div>

    <div class="row stinson-container stinson-third-column-content stinson-column-content-row3 clearfix">
      <div class="col-sm-6 stinson-third-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-third-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
                  </div>
      </div>
      <div class="col-sm-6 stinson-third-column-content-region stinson-column stinson-second-column3 panel-panel">
        <div class="stinson-third-column-content-region-inner stinson-column-inner stinson-second-column2-inner panel-panel-inner">
                  </div>
      </div>
    </div>

    <div class="row stinson-container stinson-third-column-content stinson-column-content-row4 clearfix">
      <div class="col-sm-12 stinson-fourth-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-fourth-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
          <div class="panel-pane pane-fieldable-panels-pane pane-vuuid-1b0df5a0-79ea-4e63-8387-7733b88b9de2 openberkeley-theme-subtle-header-style pane-bundle-text clearfix"  >
  
      
  
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><hr>
<h3><span style="color:#003262">Re-entry Student Leadership Award</span></h3>
<p><span>The Re-entry Student Program Leadership Award fund is designed to provide support to Re-entry Student Program peer advisors, advocates and interns. Student leaders will propose a service leadership project that will not only enhance your leadership in our campus community, but also advance our commitment of better meeting the current needs of re-entry students at Berkeley.</span></p>
<p><i>Note: these funds are intended to support you and your educational expenses—this is not a program budget for your project.</i></p>
<hr>

<p><span>Who can apply:</span></p>
<ul>
<li>Any student actively participating in the Re-entry Student Program leadership team (this includes peer advisors, interns and 198 co-facilitators). </li>
</ul>
<p>Applications are open in the Spring semester. </p>

</div></div></div></div>
  </div>

  
  </div>
        </div>
      </div>
    </div>

    <div class="row stinson-container stinson-third-column-content stinson-column-content-row4 clearfix">
      <div class="col-sm-6 stinson-fourth-column-content-region stinson-column stinson-second-column1 panel-panel">
        <div class="stinson-fourth-column-content-region-inner stinson-column-inner stinson-second-column1-inner panel-panel-inner">
                  </div>
      </div>
      <div class="col-sm-6 stinson-fourth-column-content-region stinson-column stinson-second-column3 panel-panel">
        <div class="stinson-fourth-column-content-region-inner stinson-column-inner stinson-second-column2-inner panel-panel-inner">
                  </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 stinson-container stinson-footer clearfix panel-panel">
        <div class="stinson-container-inner stinson-footer-inner panel-panel-inner">
                  </div>
      </div>
    </div>

  </div>
</div><!-- /.stinson -->
  </div>
          </div>
        </div> <!-- /.main -->
      </div> <!-- /#content -->

                </div> <!-- /#main-content -->
  </div> <!-- role main -->
</div> <!-- /#main-wrapper -->


  <script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_646DYIt0cXPa_l_NGXZg5cvunkschx37orijsP0n4Bs.js"></script>
<script type="text/javascript" src="https://reentry.berkeley.edu/sites/default/files/js/js_lt1kI2u-wMEf8J8KYX6ak2cSk8aYuY7vOgFkCdX5-B0.js"></script>
  </div>
  <hr class="col-lg-8 mt-5 mx-auto"/>
  <div class="col-lg-6 mt-5 mx-auto" align="center">
   <%= link_to "Back", root_path, method: :get, class:"btn btn-secondary btn-lg my-4" %>
  </div>
</body>
</html>

<!--
<div class="container">
  <div class="row">
    <iframe class="col-lg-12 col-md-12 col-sm-12" src="https://reentry.berkeley.edu/services/scholarships" height="700" width="500" align="center">
        this is an iframe
    </iframe>
  </div>
  <hr class="col-lg-8 mt-5 mx-auto"/>
  <div class="col-lg-6 mt-5 mx-auto" align="center">
   <%= link_to "Back", root_path, method: :get, class:"btn btn-secondary btn-lg my-4" %>
  </div>
</div>
-->