.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #04021D;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}
p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* Text / Dark - 60% */
  /*color: #686777;
}
button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
b {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #262626;
}
.btn-primary {
  background: #554AF0;
  border-radius: 12px;

}
.btn-primary:hover {
  background-color: #2112ee !important;
}
.btn-secondary {
  background: #eaeaea;
  border-radius: 12px;
  border-color: #eaeaea;
  color: #554AF0;
}
.form-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.form-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.name-display{
  color: #554AF0;
}
.form-select {
  text-align-last: center;
}*/