<div class="container">
  <div class="<%=flash.empty? ? 'px-4 py-5 my-2 text-center' : 'px-4 pb-5 mb-5 text-center' %>">
    <% flash.each do |type, msg| %>
      <div class="<%=type.to_s === "success" ? 'alert alert-success mt-2 mb-4' : 'alert alert-danger mt-2 mb-4'%>">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <h1 class="display-5 fw-bold pb-3">Edit Your Profile &#x1f4dd</h1>
    <%= render 'profile_form' %>
  </div>
</div>