<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block rounded mx-auto mb-4" src="/assets/reentry-owl.jpeg" alt="" width="130" height="130">
    <h1 class="display-5 fw-bold">Welcome to the Berkeley <br/> Reentry Student Center</h1>
    <div class="col-lg-6 mt-4 mx-auto">
      <p class="lead mb-4">Check-in using this application, find and make appointments with staff, find news and updates</p>
      <button type="button" class="btn btn-primary mt-1 btn-lg px-4 gap-3">Check into Berkeley <br/> Reentry Student Center</button>
      <div class="d-grid mt-2 gap-2 d-sm-flex justify-content-sm-center pt-2">
        <%= button_to "Login", login_path, method: :get, class:"btn btn-secondary btn-lg px-4 gap-3" %>
        <button type="button" class="btn btn-secondary btn-lg px-4">Sign-up</button>
      </div>
    </div>
  </div>
</div>
